.page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #0F1A43, #000000);
}


.bgLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
}


.bgRight {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 700px;
  z-index: 1;
}


.header {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 32px;
  font-size: 14px;
  z-index: 3;
  color: white;
}


.left {
  z-index: 2;
  max-width: 420px;
  width: 100%;
}
